rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /content/{contentId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId;
    }
    
    match /users/{userId} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.token.email == 'admin@mediaboard.com';
    }
  }
}